/* configs */
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{--principal_media: #4391CE;--secundaria: #001f47;--media:#D9EAFF;--cinza:#b6b6b6;}
body{font-family: 'Montserrat', sans-serif; background-color:#dbdbdb;}
a{text-decoration: none;}
/* fim config reset */
.bg-cinza{background-color:#eeeeee; margin-top: -200px;}
/* nav */
.navbar-menu-br{background-color: rgb(0, 0, 0); display: flex; justify-content: space-around; padding: 10px; align-items: center;}
.navbar-menu-br form{display: flex;  }
.navbar-menu-br form input{width: 90%; height: 39px; border-radius: 5px 0px 0px 5px;}
.navbar-menu-br form button{display: flex; background-color: rgb(71, 71, 71); margin-left: -10px; height: 39px; display: flex; justify-content: center; align-items: center; width: 10%;border-radius: 0px 5px 5px 0px;border:none!important; background-color: #ff8400;}
.carrinho{width: 50px; height: 50px; color: #fff;}
.logo-kalunga{max-width: 120px;}
/* header */ 
.bg-azul{width: 100%; background-color: var(--principal_media); display: flex; flex-direction: column; height: 200px; background-image: url(../img/bg/bg.svg); position: relative;z-index: 1; box-shadow:0px 0px 10px 2px #000000af!important ; border-bottom: 3px solid var(--secundaria);}
.logo{ padding: 20px; text-align: center;  border-bottom: 3px solid var(--cinza); border-right:3px solid var(--cinza) ; border-left: 3px solid var(--cinza); background-color: var(--secundaria); height: 160px;max-width: 500px; margin: 0 auto; box-shadow: 0px 0px 10px 2px #0000004f!important;}
.logo h1{font-family: 'Hina Mincho', serif; color: #fff; letter-spacing: 0.1em;}
.logo h1::after{content: ''; display: block; width: 300px; height: 2px; background-color: #fff; margin: 10px auto;}
.logo p{font-family: 'Aguafina Script', cursive; color:#fff; font-size: 1.5em; letter-spacing: 0.1em;}
.img-header{position: relative; display: flex; justify-content: center ; align-items: center; top: -55px;}
.img-header img{width: 250px;}
/* config main */
.config-main{padding-top: 200px;}
.teste-img{position: absolute; left: 50px; top: 300px;}
/* slide */
.padding{padding-top: 90px;}
.carousel-item{cursor: pointer!important;}
.responsivo-g{display: none!important;}
.responsivo-h{display: none!important}
.responsivo-c{display: none!important;}
/* boots */
.carousel-indicators {bottom: -40px!important; }
.carousel-indicators button{background-color: var(--secundaria)!important;}
/* divisor ptht */
.bg-path{width: 93%; height: 200px; margin: 0 auto; background-color: var(--principal_media);margin-top: 70px; background-image: url(../img/bg/bg.svg);box-shadow: 0px 0px 10px 2px #0000004f!important; display: flex;}
.path{width: 100%;height: 100%;clip-path: polygon(0 0, 50% 0, 80% 100%, 0% 100%);background-color: var(--secundaria);padding-top: 50px;}
.path h2{margin-left: 100px;font-weight: bold;color: #fff;}

.path-img {display: flex; justify-content: flex-end; align-items: center; }
.path-img .oculos-path{width: 200px;}
.path h2::after{content: ''; display: block; width: 300px; height: 3px; background-color: #fff; margin-left: 0px; margin-top: 10px;}
.path p{font-family: 'Aguafina Script', cursive; color:#fff; font-size: 1.5em; letter-spacing: 0.1em; margin-left: 100px;}
/* box items */
.boxes-produtos{  position: relative; display: flex; justify-content: space-around; bottom: -250px; z-index: 99; margin-top: -180px;}



.box-item{background-color: #f8f8f8; max-width: 350px; border: 3px solid var(--cinza);box-shadow: 0px 0px 10px 2px #0000004f!important; cursor: pointer!important; padding-top: 20px;}
.box-item img{width: 70%; margin-left:  50px;}
/* bg divisor */
.bg-divisor{ width: 100%; height: 300px; background-color: var(--principal_media); background-image: url(../img/bg/bg.svg); box-shadow:0px 0px 10px 2px #000000af!important ; border-bottom: 10px solid var(--secundaria);}
.bg-box-item{background-color: var(--secundaria); display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 10px;}
.bg-branco{background-color: #fff;}
.bg-box-item h2{color:#fff;}
.bg-box-item {color:#fff;}
 .bg-box-item a{padding: 10px 20px; background-color: var(--principal_media); color: #fff; font-weight: 500; text-transform: uppercase; font-size: 0.9em; letter-spacing: 0.1rem; transition: 0.3s;}
 .bg-box-item a:hover{background-color: var(--principal_media); transition: 0.3s; color: rgb(206, 206, 206)!important;}
 .img-footer{ width: 100%;  position: relative; display: flex; justify-content: end; top:-90px; }
 .img-footer img{width: 200px;}
 .footer{width: 100%; height: 50px; margin-top: -150px; text-align: center; }
 .boxes-footer{ justify-content: space-around!important; }
 .config-box-footer{ padding: 20px; border: 3px solid rgb(211, 211, 211); margin: 30px 0; cursor: pointer;}
 .config-box-footer img{width: 100%;}
 .config-txt-box {text-align: left; margin-bottom: 35px;}
 .config-txt-box h3{text-align: left; font-size: 0.9em; font-weight: bold;}
.sub-preco-do-footer{font-size: 0.8em; color:rgb(197, 197, 197); margin-bottom: -1px; margin-top: 20px;}
.preco-footer-principal {margin-bottom: 0px!important; }
.preco-subra{font-size: 0.8em; font-weight: 500; }
.preco-footer-principal span{font-weight: bold; font-size: 1.3em; }
.config-box-footer a{ padding: 10px 20px; background-color: var(--principal_media); color: #fff; font-weight: 500; text-transform: uppercase; font-size: 0.9em; letter-spacing: 0.1rem; transition: 0.3s;}
.config-box-footer a:hover{background-color: var(--principal_media); transition: 0.3s; color: rgb(206, 206, 206)!important;}
.copy{width: 100%; background-color: #000; padding: 10px;text-align: center; color: #fff;}
/* responsivo */
@media(max-width:740px){
    /* divisor ptht */
.bg-path{ height: auto; flex-direction: column; background-color: var(--secundaria); background-image: none; border: 3px solid var(--cinza);}
.path{width: 100%;height: 100%;background-color: transparent!important;padding-top: 50px;}
.path h2{font-size: 2em;}
.path-img .oculos-path{width: 120px!important;}
.path h2::after{width: 150px; height: 3px; }
.path p{font-family: 'Aguafina Script', cursive; color:#fff; font-size: 1.5em; letter-spacing: 0.1em; margin-left: 100px;}
}
/* 1060 */
@media (max-width:1060px){
    .responsivo-g-d{display: none!important;}
    .responsivo-h-d{display: none!important}
    .responsivo-c-d{display: none!important;}
    .responsivo-g{display: block!important;}
    .responsivo-h{display: block!important}
    .responsivo-c{display: block!important;}
    .bg-path{width: 100%!important; }
    .path{width: 100%;height: 100%;clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);background-color: var(--secundaria);padding-top: 50px;}
    .path h2{margin-left: 50px;}
    .path-img .oculos-path{width: 150px;}
    .path p{ margin-left: 50px;}
    .boxes-produtos{  position: static; display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap;  z-index: 99; margin-top: 50px; background-color: var(--principal_media); background-image: url(../img/bg/bg.svg); box-shadow:0px 0px 10px 2px #000000af!important ; border-bottom: 10px solid var(--secundaria); padding: 20px;}
    /* box items */
    .box-item{ max-width: 300px; margin-top: 30px; }
    .box-item img{width: 90%; margin: 0 auto;}
    /* bg divisor */
    .bg-divisor{ display: none;}
    /* divisor */
    .img-footer{ width: 100%;  position: relative; display: flex; justify-content: center; top:-40px; }
    /* footer */
    .footer{width: 100%; height: 50px; margin-top: -80px; text-align: center; }
    .config-box-footer{ max-width: 300px;}
    

}